<.header>
  Listing Products
  <:actions>
    <.link href={~p"/products/new"}>
      <.button>New Product</.button>
    </.link>
  </:actions>
</.header>

<.table id="products" rows={@products} row_click={&JS.navigate(~p"/products/#{&1}")}>
  <:col :let={product} label="Title"><%= product.title %></:col>
  <:col :let={product} label="Description"><%= product.description %></:col>
  <:col :let={product} label="Price"><%= product.price %></:col>
  <:col :let={product} label="Quantity"><%= product.views %></:col>
  <:action :let={product}>
    <div class="sr-only">
      <.link navigate={~p"/products/#{product}"}>Show</.link>
    </div>
    <.link navigate={~p"/products/#{product}/edit"}>
        <.icon name="pencil" class="w-5 h-5 hover:text-fg-200" />
    </.link>
  </:action>
  <:action :let={product}>
    <.link href={~p"/products/#{product}"} method="delete" data-confirm="Are you sure?">
        <.icon name="trash-can" class="w-5 h-5 hover:text-brand-secondary-500 " />
    </.link>
  </:action>
</.table>
