<.header class="sticky top-0 bg-base-100">
  Product <%= @product.id %>
  <:subtitle>This is a product record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/products/#{@product}/edit"}>
      <.button class="">Edit product</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @product.title %></:item>
  <:item title="Description"><%= @product.description %></:item>
  <:item title="Price"><%= @product.price %></:item>
  <:item title="Views"><%= @product.views %></:item>
</.list>

<.back navigate={~p"/products"}>Back to products</.back>
