

<body>
<h1 class="text-2xl font-bold mb-2">Authentication</h1>
    <h1> <b> <%= @mode %> </b> to continue </h1>
    <div class="max-w-screen-lg m-auto overflow-hidden rounded-lg grid grid-cols-1 md:grid-cols-2 mt-5 border">
        <div class="p-3 md:p-5">
            <%= if @mode === "Sign up" do%>
                <.simple_form :let={f} for={@changeset} action={~p"/auth/signup"} class="flex flex-col gap-3">

                    <div class="flex flex-col md:flex-row gap-3">
                        <label for="fName"> <span class="text-sm"> First name </span>
                            <.input id="fName" field={f[:first_name]} placeholder="e.g John" class="w-full mt-2" />
                        </label>

                        <label for="lName"> <span class="text-sm"> Last name </span>
                            <.input id="lName" field={f[:last_name]} placeholder="e.g Banda" class="w-full mt-2"/>
                        </label>
                    </div>

                    <label for="email"> <span class="text-sm"> Email </span>
                        <.input id="email" type="email" field={f[:email]} placeholder="john@example.com" class="w-full mt-2"/>
                    </label>

                    <label for="password"> <span class="text-sm"> Password </span>
                        <.input id="password" type="password" field={f[:password]} placeholder="Password" class="w-full mt-2"/>
                    </label>

                    <label for="re-password"> <span class="text-sm"> Confirm Password </span>
                        <input id="re-password" type="password" name={"re_password"} placeholder="Re-enter password" class="w-full mt-2"/>
                    </label>

                    <:actions>
                        <.icon_button class="text-white font-medium bg-gradient-to-r from-orange-500 to-orange-400 px-3 py-2 mt-2 font-bold rounded">
                            Create
                        </.icon_button>
                    </:actions>
                </.simple_form>
            <% else %>
                <form action="/auth/login" method="post" class="flex flex-col gap-3">
                    <label for="email"> <span class="text-sm"> Email </span>
                        <input id="email" type="email" name="email" placeholder="john@example.com" class="w-full mt-2"/>
                    </label>

                    <label for="password"> <span class="text-sm"> Password </span>
                        <input id="password" type="password" name="password" placeholder="Password" class="w-full mt-2"/>
                    </label>
                    <button type="submit" class="text-white font-medium bg-gradient-to-r from-orange-500 to-orange-400 px-3 py-2 mt-2 font-bold rounded" >
                        Continue
                    </button>
                </form>
            <% end %>
        </div>
        <div class="bg-gradient-to-tr from-gray-100 via-orange-100 to-pink-100 p-3 md:p-5q">
            <div class="my-auto flex flex-col items-center gap-3">
                <h1 class="font-bold"> <%= if @mode === "Sign up", do: "Already have an account?", else: "New here?" %> </h1>

                <p class="my-5 text-center"> Get connected to exceptional Pharmaceutical services today with ePharm </p>

                <%= if @mode === "Sign up" do %>
                    <a href="/auth/login" class="button bg-white border border-orange-400 text-center text-orange-400 w-full opacity max-w-[200px]">
                        Login
                    </a>
                <% else %>
                    <a href="/auth/sign-up" class="button bg-white border border-orange-400 text-center text-orange-400 w-full opacity max-w-[200px]">
                        Create account
                    </a>
                <% end %>
            </div>
        </div>
    </div>
</body>